SofaUnreal.VC.*
Content/*
Intermediate/Build/
Intermediate/CachedAssetRegistry.bin
Saved/AutoScreenshot.png
Saved/Autosaves/PackageRestoreData.json
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/Engine.ini
Saved/Backup/
Saved/Autosaves/
ThirdParty/sofa/
Saved/Logs/
